/* Base Animations */
@keyframes pulsate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Separator Line */
.separator-line {
  height: 15px; /* Adjust thickness */
  background: linear-gradient(
    to right,
    #464e55,
    #00072d,
    #001c55,
    #0a2472,
    #a6e1fa
  );
  background-size: 300% 300%;
  animation: pulsate 5s infinite alternate;
  margin-bottom: 0px; /* Space before the next section */
}

.navbar-container {
  position: absolute; /* Ensure navbar stays at the top */
  top: 0;
  width: 100%;
  z-index: 10; /* Ensure navbar stays above other elements */
}
/* Navbar is opaque by default */
.navbar {
  background-color: rgba(29, 38, 59, 0.85) !important;
  transition: background-color 0.3s ease-in-out;
}

/* Make navbar opaque when scrolling or when a menu is active */
.navbar-active {
  background-color: rgba(29, 38, 59, 0.85) !important;
}

.navbar-green {
  background-color: rgba(28, 124, 84, 0.85) !important;
}

/* Ensure dropdown menus animate properly */
.animate-slideDown {
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Apply the animations */
.mobile-nav {
  animation: slideIn 0.3s ease-in-out;
}

.mobile-nav-close {
  animation: slideOut 0.3s ease-in-out;
}
